#counter {
  background: linear-gradient(
      rgba(var(--c-brand-rgb), 0.8),
      rgba(var(--c-brand-rgb), 0.8)
    ),
    url(../images/counter.jpg);
  background-position:center;
  background-size:cover;
  min-height: 50vh;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  /* height: 30vh; */
}
#counter h1, h6{
    color: white;
}

#counter .counter-group{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    text-align: center;
    grid-gap: 20px;
    padding: 20px;
    min-height: fit-content;
    min-width: auto;
}

#counter h6,h1{
    letter-spacing: 0.25rem;
    line-height: 0.125rem;
}