
.review {
    position: relative;
}

.review small {
    font-size: 0.75rem;
    color: var(--c-brand);
}
.review-head{
    position: relative;
}

.review-head::after {
    content: "";
    width: 28px;
    height: 28px;
    position: absolute;
    bottom: -14px;
    background-color: white;
    transform: rotate(45deg);
}